@model MyASP.Models.ViewModel.GameViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Filter" asp-controller="Game">
    <select class="form-control" id="gameTypeSelector" name="id">
        <option value="">All Types</option>
        @foreach (var gameType in Model.GameTypes)
        {
            <option value="@gameType.Id">@gameType.Name</option>
        }
    </select>
    <button type="submit">Filter</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Games.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games.FirstOrDefault().Resume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games.FirstOrDefault().GameType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Games) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |  
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
